@font-face {
    font-family: dotoBold;
    src: url(Fonts/Doto_Rounded-Bold.ttf);
}

body{
    background-color: #121212;
}

h1{
    color: #00ff00;
    font-family: dotoBold;
    text-shadow: 2.3px 2.3px green;
}

h6{
    color: #00ff00;
    font-family: dotoBold;
    text-shadow: 5px 5px green;
}
.ulMain {
    list-style-type: none;
    padding-left: 0;
    color: #00ff00;
    font-size: larger;
    font-family: dotoBold
}

.ulMain li::before {
    content: "/bhill/Portfolio/> ";
    color: #80FF00;
    font-family: dotoBold
}
.ulWorkHistory {
    list-style-type: none;
    padding-left: 0;
    color: #00ff00;
    font-size: larger;
    font-family: dotoBold

}

.ulWorkHistory li::before {
    content: var(--w);
    color: #80FF00;
    font-family: dotoBold
}
pre{
    color: #00ff00;
}
label{
    color: #00ff00;
}

.headerDiv{
    padding: 10px;
}

.horizontalStackDiv{
    display: flex;
    flex-direction: row;
    text-shadow: 5px 5px green;
}

.type {
    display:inline-flex;
    color: #00ff00;
}

.type span {
    color: #00ff00;
    word-break: break-all;
    height: 1.2em;
    width:0%;
    overflow: hidden;
    animation:t 2s linear forwards;
    animation-delay: calc(var(--i) * 1s);
}
.type span:before {
    content:" ";
    display:inline-block;
}

@keyframes t{
    90%,100% {width:100%}
}